<div class="footer-container">
    <div class="container-fluid" style="padding:0;">
        <div class="row text-center filter-bar-row" style="position:absolute;bottom: 0;">
            <div class="col-lg-2">
                <a style="color: #26262C;text-decoration: none;">
                    <div class="time-filter-box" style="box-shadow: none;font-weight: 700;margin-top: 0;">
                        סננו מפה לפי:
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-6">
                <a style="color: #26262C;text-decoration: none;" target="_blank" onclick="selectFilter(&quot;3Days&quot;)">
                    <div class="time-filter-box" id="three-days-button">
                        3 ימים אחרונים
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-6">
                <a style="color: #26262C;text-decoration: none;" target="_blank"  onclick="selectFilter(&quot;week&quot;)">
                    <div class="time-filter-box" style="" id="one-weeks-button">
                        שבוע אחרון
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-6">
                <a style="color: #26262C;text-decoration: none;" target="_blank"  onclick="selectFilter(&quot;twoWeeks&quot;)">
                    <div class="time-filter-box-selected" style="" id="two-weeks-button">
                        שבועיים אחרונים
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-6">
                <a style="color: #26262C;text-decoration: none;" target="_blank"  onclick="selectFilter(&quot;all&quot;)">
                    <div class="time-filter-box" style="" id="all-days-button">
                        כל הזמן
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
