<!--========== navbar ==========-->
<nav class="wonder-nav">
    <ul class="wonder-nav-ul">

        <li class="nav-logo">
            <a class="nav-link" style="font-weight: 700;margin-left: -10px;" href="israelcoronamap.co.il">
                Israel corona map
            </a>
        </li>
        <li class="wonder-nav-li" style="margin-right: 10px;">
            <button class="hamburger hamburger--minus menu-icon" type="button" data-toggle="modal">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span></span>
            </button>
        </li>
        <li style="margin-right: 10px;" class="wonder-nav-li d-none d-md-block">
            <a style="" class="nav-link sos-number mada" href="tel:101">
                מד"א: 101
            </a>
        </li>
        <li class="wonder-nav-li d-none d-md-block">
            <a style="" class="nav-link sos-number health" href="tel:*5004">
                משרד הבריאות: 5004*
            </a>
        </li>
    </ul>

</nav>
<!--========== navbar end ==========-->
