<nav class="wonder-nav">
    <ul class="wonder-nav-ul">

        <li class="nav-logo">
            <a class="nav-link" style="font-weight: 700;margin-left: -10px;" href="/">
                Israel corona map
            </a>
        </li>
        <li class="wonder-nav-li">
            <a class="nav-link" href="/info">
                <img src="https://firebasestorage.googleapis.com/v0/b/coronavirus-il.appspot.com/o/info.svg?alt=media&token=e6976f4a-1867-4d6f-8238-6d1159959d71" style="max-width: 18px;margin-right: -10px;" alt="">
                &nbsp;
                אודות המיזם
            </a>
        </li>
        <li class="wonder-nav-li">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#embedCoronaMap">
                Embed
            </button>

        </li>
    </ul>
</nav>
