body {

    width: 100%;
    margin:0;
    padding:0;
    background: #f4f4f4;
    color: #26262C;
    font-family: 'Assistant', sans-serif;
}

#sick-pop-up-admin-container {
    padding: 50px;
    direction: rtl;
}

.input-labels {
    float: right;
}

.admin-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-sick-input-status {
    font-weight: 700;
    font-size: 27px;
    margin-top: 20px;
}

.btn-google {
    color: white;
    background-color: #ea4335;
    width: 230px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 25px;
}

#submit-success, #submit-failed {
    display: none;
}

#submit-cities-success, #submit-cities-failed {
    display: none;
}

.current-status {
    padding-top: 10px;
    font-size: 17px;
    font-weight: 600;
}

.bootstrap-table {
    width: 100%;
    padding: 10px;
}

.cities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

#update-cities-data {
    margin-bottom: 8px;
}

#user-email {
    text-transform: lowercase;
}

.login-container {
    display: none;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#sign-in-with-google-text {
    margin-left: 10px;
}
