#report-pop-up {
    display: none;
}

#close-feedback-popup {
    font-size: 2.5rem;
    line-height: 2;
    z-index: 3000;
}

.q-button{
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 16px!important;
    color: #ffffff!important;
    background-color: #147CC2;
    box-shadow: 0px 3px 30px #00000029;
    font-weight: 600;
    
    font-size: 14px;
    cursor: pointer;
    transition: all .35s;

}

.q-button:hover{
    transform: scale(0.98);
    text-decoration: none!important;
}

.city-container {
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 3px 30px #00000029;
    background-color: white;
    border: none;
    width: 100%;
    color:#475172;
    font-size: 20px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.select2-container{ width: 100% !important; }

[class^='select2'] {
    border-radius: 0 !important;
}

.select-city {
    width: 100%;
}

.select2-container--default .select2-selection--single {
     border: none !important;
}

select.select2-hidden-accessible { visibility: hidden; }

.select2-selection__arrow {
    display: none;
}

.select2-results__options {
    -webkit-overflow-scrolling: touch;
}

.error-filling-feedback {
    display: none;
}

.network-error-filling-feedback {
    display: none;
}

.form-success-message {
    display: none;
}

#success-filling-feedback {
    font-weight: 700;
    font-size: larger;
}

#success-filling-feedback-refill {
    font-weight: 600;
}

.disable-double-click {
    pointer-events: none;
    cursor: default;
}

#feedback-button-spinner {
    display: none;
}


.report-btn{
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 0px 3px 30px #00000029;
    font-size: 14px;
    cursor: pointer;
    background-color: #147CC2;
    transition: all .35s;
    left: 0;
    top: 0;
    position: absolute;
    margin-top: 66px;
    margin-left: 10px;
}

.report-btn:hover{
    transform: scale(0.98);
    text-decoration: none!important;
}

.report-text{
    color: #26262C;
}

.report-row{
    width: 90%;
    margin: auto;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  #26262C;
    opacity: 1; /* Firefox */
}

.hr-titels-tau{
box-shadow: 0px 3px 30px #56AFD98F;
border: 2px solid #147CC2;
opacity: 1;
border-radius: 30px;
}

.feeling-box{
    display: flex; 
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    width:339px; 
    height: 270px;
    margin: auto; 
    border-radius: 10px;
    box-shadow: 0px 3px 30px #00000029;
    background-color: white;
    transition-duration: 0.1s;
}



.report-row{
    width: 90%;
    margin: auto;
}    
@media(min-width:768px) {

  .report-row{
    width: 1100px;
    margin: auto;

}    

    .input {
        font-size: 20px;
    }

    

    .report-text{
        font-size:20px;
        width: 80%;
        margin: auto;
    }

}





