

/*==========styles==========*/

html {
    position: relative;
    
}

body {
    
    width: 100%;
    margin:0;
    padding:0;
    background: #f4f4f4;
    color: #26262C;
    font-family: 'Assistant', sans-serif;
    
}

/*========== header ==========*/
header{
    display: flex;
    align-items: center;
    height:100vh;
    
}

/*========== header ==========*/
header{
    display: flex;
    align-items: center;
    height:100vh;
}

.header-img{
    background-color: rgba(252, 251, 246, 0.8);
    height: auto;
} 

/*========== header end ==========*/

.hr-titels{
box-shadow: 0px 3px 30px #FFCF4A99;
border: 2px solid #FFCF4A;
opacity: 1;
border-radius: 30px;
}

.hr-titels-blue{
border: 2px solid #26262C;
opacity: 1;
border-radius: 30px;
}

/*========== sections ==========*/

.about{
    background: #fafafa;
    padding: 50px 0px 50px 0px;
    display: flex;
    align-items: center;   
}

.info{
    background: #FFCF4A;
    padding: 80px 0px 80px 0px;
}

.help{
    background: #ffffff;
    padding: 50px 20px  400px 20px;
}

.how{
    background: #ffffff;
    padding: 80px 0px 80px 0px;
}


.vision{
    background-color: rgba(252, 251, 246, 0.8);
    padding: 80px 0px 80px 0px;
}


.press{   
    background: #ffffff;
    padding: 50px 0px 50px 0px;
    display: flex;
    align-items: center;
}


/*========== sections end ==========*/

/*========== footer ==========*/

footer{
    display: flex;
    justify-content: center;
        background-color: #FCFBF6;

    width: 100%;
    height: auto;
    padding: 30px 0 ;
    position: absolute;
    bottom: 0;
    left: 0;
    bottom: 0;
    border-top:solid 0.4px #e5e5e5;

    
}

.footer-love-icon{
    max-height: 12px;
    max-width: 12px;
    opacity: 0.9;
    margin-top: -4px;
    margin-left: 1px;
    margin-right: 1px;
    
}


.row-social-icon{
    display: flex;
    align-items: center;
    
}

.footer-social-img{
    max-height: 80px;
    max-width: 80px;
    margin: 0px 10px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.footer-social-img:hover{
    transform: scale(0.98);

}

.footer-social-link{
    text-decoration: none!important;
}




.wonder-span{
    font-weight: 600;
    color: #360033;
   -webkit-animation: changeColor 80s ease-in infinite;
   animation: changeColor 2s ease-in infinite;
}

.wonder-span:hover{
    text-decoration: none;
}

@-webkit-keyframes changeColor {
  0% {color: #360033}
  50% {color: #1e4c69}
  100% {color: #360033}
}



.big-footer-text-heb-row{
    margin-top:30px;
    width:100%;
    text-align: center;
}

.small-footer-text-eng-row{
    text-align:center;
}

.big-footer-text{
    font-size:14px;
    display:inline;
    padding: 0px 10px;
    margin-bottom: 0;
    border-right: 1px solid #d6d6d6;
    color: #232b43;
}

.big-footer-text:first-child{
    border-right:none;
}
.big-footer-text:last-child{
    border-left:none;
}

.big-footer-text:hover,.big-footer-text:focus{
    color: #475172!important;
    
}


.small-footer-text{
    font-size:16px;
    display:inline-block;
    padding: 0px 10px;
    margin-bottom: 0;
    border-right: 1px solid #d6d6d6;
    color: #232b43;

}

.small-footer-text:first-child{
    border-right:none;
}




.footer-link{
    font-size:11px;
    text-decoration: none!important;
    color:#232b43!important;

}

.footer-link:hover{
    color: #475172!important;
    text-decoration: underline!important;
}

/*========== footer end ==========*/

.learn-more{
    
}

.learn-more:hover{
    text-decoration: underline!important;
    cursor: pointer;
}

/*========== keyboard and mouse focus ==========*/

.focus--keyboard, 
a:focus, 
button:focus, 
input:focus, 
select:focus, 
textarea:focus, 
span:focus,
.layer:focus
{
    outline: 2px solid #646e8c;
    outline-offset: 5px;

}

.focus--mouse, 
a.focus--mouse:focus, 
button.focus--mouse:focus, 
input.focus--mouse:focus, 
select.focus--mouse:focus, 
textarea.focus--mouse:focus, 
span.focus--mouse:focus,
.layer.focus--mouse:focus


{
    outline: none; 
}
/*========== keyboard and mouse focus ==========*/


/*========== links ==========*/

.yossi-sign{
    max-width: 120px;
}

.yossi-link{
    font-size:20px;
    text-decoration: underline!important;
        color: #f6f6f6!important;

}

.link{
    text-decoration: none!important;
    color: #1111E0!important;
    font-size: 18px;
    background-color: transparent!important;
    cursor: pointer;    
}

.link:hover {
    text-decoration: none!important;
    color:#1111E0!important;
    transition-duration: 0.3s;
}
.link:focus{text-decoration: none!important;}
.link:active {color:#1111E0!important;}
.link:visited {color:#1111E0!important;}


.nav-link{
    text-decoration: none!important;
    color:#26262C!important;
    font-size: 17px;
    font-weight: 400;  
}

.nav-link:hover {
    text-decoration: none!important;
    color:#26262C!important;
    transition-duration: 0.3s;
}
.nav-link:focus{text-decoration: none!important;
    color:#26262C!important;
}
.nav-link:active,.nav-link:visited {color:#26262C!important;}







.project-image{
    
box-shadow: 10px 7px 152px -33px rgba(38,39,40,1);
border-radius:5px;
height: 300px;
}



/*========== links end ==========*/

/*========== inputs ==========*/

.input {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    width: 100%;
    color:#475172;
    font-size: 20px;
    text-align: right;
    transition: all .2s ease-in-out;

}

.input:focus {
    
    outline:none;
    border-bottom: solid 2px #232b43;
    color:  #232b43;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #232b43;
    opacity: 1; /* Firefox */
}

textarea {
    border: 0;
    resize: none;
    outline: 0;
    background: transparent;
    border-bottom: solid 2px #c9c9c9;    
    color: #475172!important;
}
/*========== inputs end ==========*/

/*========== titles & text ==========*/

.main-title{
    font-size: 32px;
    color: #26262C; 
    font-weight: 700;
}

.main-description{
    font-size:18px;
    font-weight: 400;
    color: #26262C;
    width: 100%;
    margin: auto;

}

.section-title{
    font-size: 24px;
    font-weight: 700;

}

.section-description{
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    margin: auto;
}

.bold-600{
    font-weight: 600;
}

/*========== titles & text end ==========*/

/*========== service section ==========*/

.service-card{
    box-shadow: 0 2px 2px rgba(0,0,0,0.15), 0 2px 25px rgba(0,0,0,0.15);
    width: 100%;
    margin: auto;
    background-color: #fafafa;
    padding: 45px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border-radius: 5px;
    word-wrap: break-word;
    transition: all .2s ease-in-out;
}

.service-card:hover{
    transform: scale(0.97);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.service-card-title{
    font-size:20px;
    font-weight: 700;
}

.service-card-text{
    font-size:18px;
}



.service-one{
    background: -webkit-linear-gradient(left,#396afc,#2948ff);
}
.service-two{
    background: -webkit-linear-gradient(left,#8E2DE2,#4A00E0);
}
.service-three{
    background: -webkit-linear-gradient(left top,#F7971E,#FFD200);
}

.learn-more-btn{
    display:flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    background-color: #ffffff;
    padding:8px 25px;
    border-radius: 2px;    
    box-shadow: 0 2px 2px rgba(0,0,0,0.15), 0 2px 25px rgba(0,0,0,0.15);
}

.arrow{
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
     -webkit-transition-property: transform;
    transition-property: transform;
    font-size:18px!important;
}

.arrow:hover, .arrow:focus, .arrow:active{
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); 
}

/*========== service section end ==========*/

/*========== side-bar ==========*/

.side-bar{
    position: absolute;
    height: 100%;
    width: 100%; 
    right: 0;
    top:0;
    background-color: white;
    z-index: 9996;

}

.side-bar-row{
    width: auto;
    left: 0;
    right: 0;
    position: fixed;
    margin-top: 100px;
}

.menu-icon{
    max-width:20px;
    max-height: 20px;
    cursor: pointer;
    z-index: 9999!important;

}

.close-side-bar{
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 10px;   
    max-width:12px;
    max-height:12px;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

.close-side-bar:hover{
    
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}


.side-bar-title{
    margin-top: 25px;
    font-size:22px;
    text-decoration: underline;
    font-weight: 600;
}

.side-bar-link{
    font-size: 20px;
    color:#26262C!important;
    transition-duration: 0.3s;

}

.side-bar-link:hover{
     color:#26262C!important;
     text-decoration: none;
}
/*========== side-bar end ==========*/

/*========== nav-bar ==========*/

.wonder-nav{
    top: 0;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 9997;
    background-color: white;
            -webkit-box-shadow: 0px 10px 33px -19px rgba(69,69,69,1);
        -moz-box-shadow: 0px 10px 33px -19px rgba(69,69,69,1);
        box-shadow: 0px 10px 33px -19px rgba(69,69,69,1);

}

.wonder-nav-ul{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 9999;
    list-style: none;
    padding-right: 15px;

}

.wonder-nav-li{
    padding: 0px 0px 0px 25px; 
    font-weight: 300;
    font-size: 18px;
    z-index: 9999;
    
}

.nav-logo{
    margin-right: auto;
    padding-left: 10px;
    order: 1;
    margin-top: -5px;
}

.top-bar-icon{
    margin-top:5px;
    max-width:55px;
    max-height: 55px;
    cursor: pointer;
    opacity: 0.9;
    transition: all .6s ease;

}

.top-bar-icon:hover{
    opacity: 1;
    

}

/*========== nav-bar end ==========*/




/*========== protfolio items ==========*/

.box{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all .2s ease-in-out;
    border-radius: 3px;
    background-size: cover; 
    margin: 5px;
    position: relative;
}

.box:hover{
    transform: scale(0.98); 
    box-shadow: 0 2px 2px rgba(0,0,0,0.15), 0 2px 25px rgba(0,0,0,0.15);

}



.layer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.layer-color-1{
  background: -webkit-linear-gradient(left top, rgba(25, 16, 93, 0.4) ,rgba(61, 16, 93, 0.4) );

}

.layer-color-2{
  background: -webkit-linear-gradient(left top, rgba(25, 16, 93, 0.7) ,rgba(61, 16, 93, 0.7) );

}

.layer-color-3{
  background: -webkit-linear-gradient(left top, rgba(25, 16, 93, 0.7) ,rgba(61, 16, 93, 0.7) );

}


.protfolio-card-title{
    color:#ffffff;
    font-weight: 800; 
    font-size: 32px;
}



/*========== protfolio items end ==========*/

/*========== pop-ups ==========*/

.pop-up-title{
    padding-top: 90px;
    font-weight: 700;
    font-size: 24px;
    padding-top:50px;

}

.pop-up-text{
    font-size:20px;
    width: 100%;
    margin: auto;
    color: #ffffff;
}

.work-pop-up-area{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    z-index: 9999;
}

.pop-up{
    height: 100vh;
    position:fixed;
    top: 0px;
    bottom:0px;
    overflow-y:scroll;
    overflow-x:hidden;
    z-index: 9999;
    background-color: #323232;
    width: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.15);
}

.pop-up-area{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    z-index: 9999;
}



.blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.close-pop-up{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;   
    max-width:15px;
    max-height:15px;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

.close-pop-up:hover{
    
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*========== pop-ups end ==========*/


.pluse-span{
    font-size: 26px;padding-right: 1px;
}

.button{
    box-shadow: 0px 3px 30px rgba(255,207,74, 0.35);
    color: #26262C;
    font-size:18px;
    padding: 8px 30px;
    border-radius: 3px;
    font-weight: 400;
    width: auto;
    background:#FFCF4A;
    text-decoration: none;
    cursor: pointer;
    border: none;
    outline: none;
    display: inline-block;
    transition: all .35s;
}

.button:hover{
    transform: scale(0.98);
    background:#FFCF4A;
    color: #232b43;
    opacity: 0.9;
    text-decoration: none!important;


}

.client-img{
    width: 100%; 
    height: auto;
}

.work-img{
    box-shadow: 0 2px 2px rgba(0,0,0,0.15), 0 2px 25px rgba(0,0,0,0.15);
    width:100%;
    height: auto;
    border-radius: 4px;
}

label{
    text-align: center;
    width: 95%;
    font-size: 20px;
    font-weight: 400;
    color:#232b43;
   
}

.swiper-wrapper-style{
    display:flex; 
    align-items: center;
}

.img-grayscale {
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    transition: all .6s ease;
    opacity: 0.5;
}

/* Disable grayscale on hover */
.img-grayscale:hover {
    
    filter: none;
    -webkit-filter: grayscale(0);
    opacity: 1;

}

.work-click{
    cursor:pointer;
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}

.flex-center{
    display: flex;
    align-items: center;
}




section{
    border-top:solid 0.4px #e5e5e5;
}

.wonder-logo{
    max-width: 290px;
}

.wonder-slogan{
    max-width: 290px;
    margin-top:-7px;
}

.about-logo{
     max-width: 150px;
     margin-top: 15%;
}

.hr{
    border-top: 3px solid #ffffff ;opacity: 0.1;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
    padding-left: 10px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }

.hamburger:hover {
    opacity: 0.7; 
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; 

}

.hamburger-inner {
    display: block;
    top: 70%;
    margin-top: -1.6px; 
    margin-right: -5px;
}

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    
    width: 25px;
    height: 1.5px;
    background-color: #26262C;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }


.hamburger-inner::before, .hamburger-inner::after {

    content: "";
    display: block; }
.hamburger-inner::before {
    top: -7px; }
.hamburger-inner::after {
    bottom: -7px; }

/** Minus **/
.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear; }

.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear; }

.hamburger--minus.is-active .hamburger-inner::before {
  top: 0; }

.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0; }





.media-img{
    width:70%; 
    height: auto;
}


.section-title-responsive{
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.section-description-responsive{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
      
}


.info-card-text{
    font-size:18px;
    width:100%;
    margin: auto;
}

.time-filter-box{
    padding:10px;
    box-shadow: 0px 3px 30px #00000029;
    background-color: white;
    border-radius: 6px;
    font-size: 12px;
    margin-top:10px;
}

.time-filter-box-selected{
        margin-top:10px;

    padding:10px;
    box-shadow: 0px 3px 30px #00000029;
    background-color:  #FFCF4A;
    border-radius: 6px;
    font-size: 12px;
}

.filter-bar-row{
    align-items: center;background: #FFFFFF 0% 0% no-repeat padding-box;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
    margin: auto;
}

.vision-image{
    
max-width: 250px;
}

.filter-main-text{
   font-size: 16px;font-weight: 700;margin-bottom: 0px;
}

.filter-help-text{
   font-size: 12px;margin-bottom: 0;font-weight: 400;margin-top: 20px; 
}

.main-image{
    
width: 100%;
}

@media(min-width:768px) {
    
    .main-image{
    
width: 70%;
}
    
    .filter-bar-row{
  
    padding-top: 20px;
    padding-bottom: 20px;

}
    
    .filter-help-text{
    font-size: 14px;margin-bottom: 0;font-weight: 400;margin-top: 20px;
}
    
    .filter-main-text{
    font-size: 18px;margin-bottom: 0;font-weight: 700;margin-bottom: 20px;
}
    
    .vision-image{
    
max-width: 300px;
}
    
    .time-filter-box{
        font-size: 16px;
            margin-top:0px;

}


.time-filter-box-selected{
    font-size: 16px;
                margin-top:0px;

}
    
  .info-card-text{
    width: 70%;
    margin: auto;
}
    
    .blog-card{
        box-shadow: 0 2px 2px rgba(0,0,0,0.15), 0 2px 25px rgba(0,0,0,0.15);
        background-color: #ffffff;
        width: 95%;
        margin: auto;
        margin-top: 5%;
        min-height: 300px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        word-wrap: break-word;
        transition: all .2s ease-in-out;
    }
    
    .section-title{
        font-size: 28px;
        
    }
    
    .media-img{
        width:48%; 
        height: auto;
    }
    

    
    .section-description-responsive{
        font-weight: 400;
        font-size: 18px;
        text-align: right;

        
    }


    .section-title-responsive{
        font-size: 36px;
        text-align: right;
    }

    .press{
        background: #ffffff;
        padding: 70px 0px 70px 0px;
        display: flex;
        align-items: center;
    }
    
    .protfolio-card-text{
        margin-top: 10px;
        color:#ffffff;
        font-weight: 400; 
        font-size: 22px;
        padding: 0px 20px 0px 20px;
    }
    
    .wonder-nav-scroll{
        background-color: #323232;
        top: 0;
        height: 50px;
        width: 100%;
        position: fixed;
        z-index: 9997;
        animation: fadein 0.3s;
    }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
    
    
    .c-img-s{
    max-width: 80px;
}
    
      .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    
    width: 25px;
    height: 1.5px;
    background-color: #232b43;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
    
    /*========== sections ==========*/

.about{
    padding: 80px 0px 80px 0px;
}

.info{
    padding: 80px 0px 80px 0px;
    
}

.help{
    padding: 80px 0px  410px 0px;
    
}

.blog{
    padding: 80px 0px  280px 0px;
  
}


/*========== sections end ==========*/
    
    
.nav-link:focus{text-decoration: none!important;
    color:#f9f9f9!important;
}
.nav-link:active,.nav-link:visited {color:#26262C!important;}
    
.nav-link-scroll{
    text-decoration: none!important;
    color:#26262C!important;
    font-size: 17px;
    font-weight: 400;  
}

.nav-link-scroll:hover {
    text-decoration: none!important;
    color:#26262C!important;
    transition-duration: 0.3s;
}
.nav-link-scroll:focus{text-decoration: none!important;color:#26262C!important;}
.nav-link-scroll:active,.nav-link-scroll:visited { color:#26262C!important;}
    






.about-logo{
     max-width: 200px;
     margin-top: 6%;
}    
    
    .top-bar-icon-desk{
    margin-top:5px;
    max-width:55px;
    max-height: 55px;
    cursor: pointer;
    opacity: 0.9;
    transition: all .6s ease;

}

.top-bar-icon-desk:hover{
    opacity: 1;
    

}
    
    .wonder-nav{
    top: 0;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 9997;
    background-color: rgba(252, 251, 246,1);

    box-shadow: none;
}   
.wonder-nav-scroll{
    background-color: white;
            -webkit-box-shadow: 0px 10px 33px -19px rgba(69,69,69,1);
        -moz-box-shadow: 0px 10px 33px -19px rgba(69,69,69,1);
        box-shadow: 0px 10px 33px -19px rgba(69,69,69,1);
    top: 0;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 9997;
}
    

.wonder-logo{
    max-width: 520px;
    margin-top: 0%;

}

.wonder-slogan{
    max-width: 520px;
    margin-top:-7px;
}
    
    
.client-img{
    width: 40%; 
    height: auto;
}
    
    
    .small-footer-text{
        font-size: 18px;
    }
    
    label{
    text-align: center;
    width: 55%;
    font-size: 20px;
    font-weight: 400;
    color:#232b43;
    }
  
    .work-img{
        width:70%;
    }

    .pop-up-title{
        padding-top: 90px;
        font-weight: 700;
        font-size: 30px;
    }
    
    .pop-up-text{
        font-size:22px;
        width: 65%;
        margin: auto;
    }
    
    .pop-up{
        top: 0px;
        bottom:0px;
        width: 100%;
    }
    
    .service-pop-up{
        top: 20px;
        bottom:20px;
        width: 70%;
    }
    
    
    .row-social-icon{
        margin:auto;
        width:25%;
    }

    
   

    /*========== nav-bar ==========*/

    .wonder-nav-icon{
        max-height: 25px;
        max-width: 25px;
        cursor: pointer;
    }
    .wonder-nav-ul{
        padding-right: 5px;
    }

    .wonder-nav-li{
        padding: 0px 0px 0px 15px; 
        font-size: 18px;
        text-align:right;

    }
    /*========== nav-bar ==========*/
    
    .input {
       
        font-size: 20px;
    }
    
    .main-title{
        font-size: 50px;
        
    }
    
    .main-description{
        font-size:22px;
        width: 40%;
        margin: auto;
    }
    
    .section-description{
        font-size: 24px;
        width: 65%;
        margin: auto;
    }


}




