html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden
}

.city-card {
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

#map {
    height: 100vh;
    width: 100vw;
}

#map-wrapper {
  /* width: 100%;
  height: 80vh;
  position:absolute;
  text-align: center; */
}

.footer-container {
  display:none;
}

.infowindow {
  text-align: right;
  padding: 10px;
  font-family: 'Assistant', sans-serif;
}

.app-header{
    padding: 1vh;
    text-align: center;
    color: white;
    background: black;
    font-size: 30px;
}

.save-button-box{
    display: flex;
    justify-content: center;
}

.save-button {
    width: 220px;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 25px;
    padding: 10px;
    color: #6c6a6a;
    background: white;
    box-shadow: 3px 3px 10px -2px;
}
.container-1{
  height: 100vh;
}

.container-2{
  height: 100vh;
  width: 100%;
}

.app-description{
    color: white;
    max-width: 500px;
    direction: rtl;
    margin: 0px auto 30px;
    text-align: center;
    font-size: 28px;
    font-weight: initial;
}

.user-location-box {
    font-size: 16px;
    text-align: center;
    min-width: 100px;
    margin: 6px;
}

.app-footer{
    width: 25vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 16vh;
}

.filter-button {
   font-size: 19px;
    padding: 9px 19px;
    border-radius: 30px;
    background: yellow;
    margin: 10px 5px;
    box-shadow: 1px 1px 6px -1px #6a6b68;
    text-align: center;
}

.info-label {
    text-decoration: underline;
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 5px;
}

.info-description {
    font-size: 16px;
    font-weight: 500;
}

.pub_date {
    font-size: 14px;
}

.quarantine-time {
  font-size: 14px;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.map-reader {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  box-shadow: 0 3px 30px #00000029;
  margin-left: 7px;
  margin-bottom: 50px;
}

.floating-buttons {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 10px;
    margin-bottom: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.floating-button {
    cursor: pointer;
    margin: 5px 0;
}

.floating-button > img {
    width: 45px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}

.zoom-control-buttons {
    display: flex;
    flex-direction: column;
}

.zoom-control-buttons > img {
    width: 38px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}

#zoom-to-location-icon {
    display: none;
}


@media(max-width:768px) {

    .map-reader-img{
      width: 300px !important;
      box-shadow: 0 3px 30px #00000029;
    }
    .map-reader {
      left: 0;
      bottom: 0;
      width: 300px;
      display: flex;
      justify-content: center;
    }

    #zoom-to-location-icon {
        display: block;
    }

    .zoom-control-buttons {
        display: none;
    }

}


