html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.city-card {
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

#map {
  height: 93vh;
  width: 95vw;
  margin:0px auto;
  display:inline-block;
  overflow: hidden;
  border-radius: 30px;
}

#map-wrapper {
  width: 100%;
  height: 80vh;
  margin-top: 20px;
  margin-bottom: 20px;

  position:absolute;
  text-align: center;
}

.app-header{
    width: 100%;
    padding: 52px 10px 30px;
    margin: 0;
    text-align: center;
    color: white;
    font-size: 55px;
}

@media only screen and (min-width: 500px) {
  .app-header {
    font-size: 80px;
  }
}

.save-button-box{
    display: flex;
    justify-content: center;
}

.save-button {
    width: 220px;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 25px;
    padding: 10px;
    color: #6c6a6a;
    background: white;
    box-shadow: 3px 3px 10px -2px;
}
.container-1{
  background: #e8cc04;
  height: 95vh;
}

.container-2{
  height: 100vh;
  width: 100%;
}

.app-description{
    color: white;
    width: 522px;
    direction: rtl;
    margin: 15px auto 44px;
    text-align: center;
}